.wrapper {

  &--bg-gray {
    background-color: $color-gray;
  }

  &__inner {
    @include flex-centered();
    min-height: 100vh;
  }

  &__logo {
    width: 100%;
    height: auto;
    max-width: 400px;
  }
}